# Flask
SECRET_KEY=your-secret-key-here
PORT=8000

# Firebase Admin SDK (Service Account)
FIREBASE_PROJECT_ID=elementgroups-168e4
FIREBASE_PRIVATE_KEY_ID=your-private-key-id
FIREBASE_PRIVATE_KEY=your-private-key
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-yvao5@elementgroups-168e4.iam.gserviceaccount.com
FIREBASE_CLIENT_ID=104901293045646212187
FIREBASE_STORAGE_BUCKET=elementgroups-168e4.appspot.com
FIREBASE_DATABASE_URL=https://elementgroups-168e4-default-rtdb.firebaseio.com/

# Firebase Client (Pyrebase)
FIREBASE_API_KEY=your-api-key
FIREBASE_AUTH_DOMAIN=elementgroups-168e4.firebaseapp.com
FIREBASE_MESSAGING_SENDER_ID=250522275933
FIREBASE_APP_ID=1:250522275933:web:8a94be47e0536b78193db4
FIREBASE_MEASUREMENT_ID=G-V4VVDNKTN1
